#Urls
APP_URL=""

#Public Urls (Used on Client-Side)
NEXT_PUBLIC_APP_URL=""

#Database
DATABASE_URL=""

#Auth
BETTER_AUTH_SECRET=""

#Email
BREVO_API_KEY=

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

