#Environment
NODE_ENV = ""

#Urls
APP_URL=""
API_URL=""
PARENT_DOMAIN= # ONLY TO BE USED IN PRODUCTION ENVIROMENT FOR CROSS SUB-DOMAIN COOKIE SHARING

#Public Urls (Used on Client-Side)
NEXT_PUBLIC_APP_URL=""

#Database
DATABASE_URL=""

#Auth
BETTER_AUTH_SECRET=""

#Email
BREVO_API_KEY=

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

