# Dependencies
node_modules
jspm_packages
web_modules
.pnp
.pnp.js

# Local env files
.env*
!.env.example

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist

# Debug / Logs
logs
_.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# wrangler project
.dev.vars*
!.dev.vars.example
.wrangler/

# Misc
.DS_Store
*.pem

# Runtime data
pids
_.pid
_.seed
\*.pid.lock
