#Environment
NODE_ENV = ""

#Urls
APP_URL="http://localhost:3000"
API_URL="http://localhost:8000"
PARENT_DOMAIN= # ONLY TO BE USED IN PRODUCTION ENVIROMENT FOR CROSS SUB-DOMAIN COOKIE SHARING
BASE_EMAIL_DOMAIN= #USED FOR CREATING EMAILS FOR ORGANIZATIONS

PORT="8000"

#Database
DATABASE_URL=""

#Jobs
REDIS_URL=